<div class="car-showcase">

    <h3 class="showcase-heading">best sellers</h3>

    <div class="showcase-wrapper">

        <div class="showcase-container">

            <div class="showcase">

                <a href="#" class="showcase-img-box">
                    <img src="/images/cars/car.jpeg" alt="car" width="75" height="75" class="showcase-img">
                </a>

                <div class="showcase-content">

                    <a href="#">
                        <h4 class="showcase-title">The best car ever</h4>
                    </a>

                    <div class="showcase-rating">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                    </div>

                    <div class="price-box">
                        <del>$5.00</del>
                        <p class="price">$4.00</p>
                    </div>

                </div>

            </div>

            <div class="showcase">

                <a href="#" class="showcase-img-box">
                    <img src="/images/cars/car.jpeg" alt="car" class="showcase-img" width="75" height="75">
                </a>

                <div class="showcase-content">

                    <a href="#">
                        <h4 class="showcase-title">The best car ever</h4>
                    </a>
                    <div class="showcase-rating">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half-outline"></ion-icon>
                    </div>

                    <div class="price-box">
                        <del>$17.00</del>
                        <p class="price">$7.00</p>
                    </div>

                </div>

            </div>

            <div class="showcase">

                <a href="#" class="showcase-img-box">
                    <img src="/images/cars/car.jpeg" alt="car" class="showcase-img" width="75" height="75">
                </a>

                <div class="showcase-content">

                    <a href="#">
                        <h4 class="showcase-title">The best car ever</h4>
                    </a>
                    <div class="showcase-rating">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half-outline"></ion-icon>
                    </div>

                    <div class="price-box">
                        <del>$5.00</del>
                        <p class="price">$3.00</p>
                    </div>

                </div>

            </div>

            <div class="showcase">

                <a href="#" class="showcase-img-box">
                    <img src="/images/cars/car.jpeg" alt="car" class="showcase-img" width="75" height="75">
                </a>

                <div class="showcase-content">

                    <a href="#">
                        <h4 class="showcase-title">The best car ever</h4>
                    </a>
                    <div class="showcase-rating">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                    </div>

                    <div class="price-box">
                        <del>$15.00</del>
                        <p class="price">$12.00</p>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>