<!--
      - BLOG
    -->

<div class="blog">

    <div class="container">

        <div class="blog-container has-scrollbar">

            <div class="blog-card">

                <a href="#">
                    <img src="/images/blog-1.jpg" alt="car" width="300" class="blog-banner">
                </a>

                <div class="blog-content">

                    <a href="#" class="blog-category">Agency</a>

                    <h3>
                        <a href="#" class="blog-title">How to drive a car.</a>
                    </h3>

                    <p class="blog-meta">
                        By <cite>Krilauto</cite> / <time datetime="2022-11-06">11 Nov, 2022</time>
                    </p>

                </div>

            </div>

            <div class="blog-card">

                <a href="#">
                    <img src="/images/blog-2.jpg" alt="car" class="blog-banner" width="300">
                </a>

                <div class="blog-content">

                    <a href="#" class="blog-category">Agency</a>

                    <h3>
                        <a href="#" class="blog-title">How to drive a car.</a>
                    </h3>

                    <p class="blog-meta">
                        By <cite>Krilauto</cite> / <time datetime="2022-11-06">11 Nov, 2022</time>
                    </p>

                </div>

            </div>

            <div class="blog-card">

                <a href="#">
                    <img src="/images/blog-3.jpg" alt="car" class="blog-banner" width="300">
                </a>

                <div class="blog-content">

                    <a href="#" class="blog-category">Agency</a>

                    <h3>
                        <a href="#" class="blog-title">How to drive a car.</a>
                    </h3>

                    <p class="blog-meta">
                        By <cite>Krilauto</cite> / <time datetime="2022-11-06">11 Nov, 2022</time>
                    </p>

                </div>

            </div>

            <div class="blog-card">

                <a href="#">
                    <img src="/images/blog-4.jpg" alt="car" class="blog-banner" width="300">
                </a>

                <div class="blog-content">

                    <a href="#" class="blog-category">Agency</a>

                    <h3>
                        <a href="#" class="blog-title">How to drive a car.</a>
                    </h3>

                    <p class="blog-meta">
                        By <cite>Krilauto</cite> / <time datetime="2022-11-06">11 Nov, 2022</time>
                    </p>

                </div>

            </div>

        </div>

    </div>

</div>