<!--
            - car GRID
          -->

<div class="car-main">

    <h2 class="title">New Arrivals</h2>

    <div class="car-grid">

        <div class="showcase">
            <div class="showcase-banner">
                <img src="images/cars/car.jpeg" alt="car" width="300" class="car-img default">
                <img src="images/cars/car.jpeg" alt="car" width="300" class="car-img hover">
                <p class="showcase-badge">15%</p>

                <div class="showcase-actions">
                    <button class="btn-action">
                        <ion-icon name="heart-outline"></ion-icon>
                    </button>

                    <button class="btn-action">
                        <ion-icon name="eye-outline"></ion-icon>
                    </button>



                    <button class="btn-action">
                        <ion-icon name="car-sport-outline"></ion-icon>
                    </button>

                </div>

            </div>

            <div class="showcase-content">

                <a href="/history" class="showcase-category">car</a>

                <a href="#">
                    <h3 class="showcase-title">The best car ever</h4>
                </a>

                <div class="showcase-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                </div>

                <div class="price-box">
                    <p class="price">$48.00</p>
                    <del>$75.00</del>
                </div>

            </div>

        </div>

        <div class="showcase">

            <div class="showcase-banner">
                <img src="images/cars/car.jpeg" alt="car" class="car-img default" width="300">
                <img src="images/cars/car.jpeg" alt="car" class="car-img hover" width="300">

                <p class="showcase-badge angle black">sale</p>

                <div class="showcase-actions">
                    <button class="btn-action">
                        <ion-icon name="heart-outline"></ion-icon>
                    </button>

                    <button class="btn-action">
                        <ion-icon name="eye-outline"></ion-icon>
                    </button>



                    <button class="btn-action">
                        <ion-icon name="car-sport-outline"></ion-icon>
                    </button>
                </div>
            </div>

            <div class="showcase-content">
                <a href="/history" class="showcase-category">car</a>

                <h3>
                    <a href="#" class="showcase-title">The best car ever</a>
                </h3>

                <div class="showcase-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                </div>

                <div class="price-box">
                    <p class="price">$45.00</p>
                    <del>$56.00</del>
                </div>

            </div>

        </div>

        <div class="showcase">

            <div class="showcase-banner">
                <img src="images/cars/car.jpeg" alt="car" class="car-img default" width="300">
                <img src="images/cars/car.jpeg" alt="car" class="car-img hover" width="300">

                <div class="showcase-actions">
                    <button class="btn-action">
                        <ion-icon name="heart-outline"></ion-icon>
                    </button>

                    <button class="btn-action">
                        <ion-icon name="eye-outline"></ion-icon>
                    </button>



                    <button class="btn-action">
                        <ion-icon name="car-sport-outline"></ion-icon>
                    </button>
                </div>
            </div>

            <div class="showcase-content">
                <a href="/history" class="showcase-category">car</a>

                <h3>
                    <a href="#" class="showcase-title">The best car ever</a>
                </h3>

                <div class="showcase-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                </div>

                <div class="price-box">
                    <p class="price">$58.00</p>
                    <del>$65.00</del>
                </div>

            </div>

        </div>

        <div class="showcase">

            <div class="showcase-banner">
                <img src="images/cars/car.jpeg" alt="car" class="car-img default" width="300">
                <img src="images/cars/car.jpeg" alt="car" class="car-img hover" width="300">

                <p class="showcase-badge angle pink">new</p>

                <div class="showcase-actions">
                    <button class="btn-action">
                        <ion-icon name="heart-outline"></ion-icon>
                    </button>

                    <button class="btn-action">
                        <ion-icon name="eye-outline"></ion-icon>
                    </button>



                    <button class="btn-action">
                        <ion-icon name="car-sport-outline"></ion-icon>
                    </button>
                </div>
            </div>

            <div class="showcase-content">
                <a href="/history" class="showcase-category">car</a>

                <h3>
                    <a href="#" class="showcase-title">The best car ever</a>
                </h3>

                <div class="showcase-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                </div>

                <div class="price-box">
                    <p class="price">$25.00</p>
                    <del>$35.00</del>
                </div>

            </div>

        </div>



    </div>

</div>