<!--
      - TESTIMONIALS, CTA & SERVICE
    -->

<div>

    <div class="container">

        <div class="testimonials-box">

            <!--
                  - TESTIMONIALS
                -->

            <div class="testimonial">

                <h2 class="title">testimonial</h2>

                <div class="testimonial-card">

                    <img src="/images/testimonial-1.jpg" alt="Mr Reviewer" class="testimonial-banner" width="80"
                        height="80">

                    <p class="testimonial-name">Mr Reviewer</p>

                    <p class="testimonial-title">CEO & Founder of World</p>

                    <ion-icon name="stats-chart-outline"></ion-icon>

                    <p class="testimonial-desc">
                        Lorem ipsum dolor sit amet consectetur Lorem ipsum
                        dolor dolor sit amet.
                    </p>

                </div>

            </div>



            <!--
                  - CTA
                -->

            <div class="cta-container">

                <img src="/images/cta-banner.jpg" alt="Hot Offer" class="cta-banner">

                <a href="#" class="cta-content">

                    <h2 class="cta-title">Hot Offer</h2>

                    <p class="discount">25% Discount on 5 cars</p>

                </a>

            </div>



            <!--
                  - SERVICE
                -->

            <div class="service">

                <h2 class="title">Our Services</h2>

                <div class="service-container">

                    <a href="#" class="service-item">
                        <div class="service-icon">
                            <ion-icon name="planet-outline"></ion-icon>
                        </div>

                        <div class="service-content">

                            <h3 class="service-title">Lorem, ipsum dolor.</h3>
                            <p class="service-desc">Lorem ipsum dolor sit.</p>

                        </div>
                    </a>

                    <a href="#" class="service-item">
                        <div class="service-icon">
                            <ion-icon name="planet-outline"></ion-icon>
                        </div>

                        <div class="service-content">
                            <h3 class="service-title">Lorem, ipsum dolor.</h3>
                            <p class="service-desc">Lorem, ipsum dolor.</p>
                        </div>
                    </a>

                    <a href="#" class="service-item">
                        <div class="service-icon">
                            <ion-icon name="planet-outline"></ion-icon>
                        </div>
                        <div class="service-content">
                            <h3 class="service-title">Lorem, ipsum dolor.</h3>
                            <p class="service-desc">Lorem ipsum dolor sit.</p>
                        </div>
                    </a>

                    <a href="#" class="service-item">
                        <div class="service-icon">
                            <ion-icon name="planet-outline"></ion-icon>
                        </div>
                        <div class="service-content">
                            <h3 class="service-title">Lorem, ipsum.</h3>
                            <p class="service-desc">Lorem, ipsum dolor.</p>
                        </div>
                    </a>

                    <a href="#" class="service-item">
                        <div class="service-icon">
                            <ion-icon name="planet-outline"></ion-icon>
                        </div>

                        <div class="service-content">
                            <h3 class="service-title">Lorem, ipsum dolor.</h3>
                            <p class="service-desc">Lorem ipsum dolor sit.</p>
                        </div>
                    </a>

                </div>

            </div>

        </div>

    </div>

</div>