<!--
          - SIDEBAR
        -->

<div class="sidebar  has-scrollbar" data-mobile-menu>

    <div class="sidebar-category">

        <div class="sidebar-top">
            <h2 class="sidebar-title">Filter</h2>

            <button class="sidebar-close-btn" data-mobile-menu-close-btn>
                <ion-icon name="close-outline"></ion-icon>
            </button>
        </div>

        <ul class="sidebar-menu-category-list">

            <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>

                    <div class="menu-title-flex">
                        <ion-icon name="arrow-forward-circle-outline" width="20" height="20" class="menu-title-img">
                        </ion-icon>
                        <p class="menu-title">Model</p>
                    </div>

                    <div>
                        <ion-icon name="add-outline" class="add-icon"></ion-icon>
                        <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                    </div>

                </button>

                <ul class="sidebar-submenu-category-list" data-accordion>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="car-name">Mercedes</p>
                            <data value="300" class="stock" title="Available Stock">300</data>
                        </a>
                    </li>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="car-name">BMW</p>
                            <data value="60" class="stock" title="Available Stock">60</data>
                        </a>
                    </li>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="car-name">Fiat</p>
                            <data value="50" class="stock" title="Available Stock">50</data>
                        </a>
                    </li>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="car-name">Renault</p>
                            <data value="87" class="stock" title="Available Stock">87</data>
                        </a>
                    </li>

                </ul>

            </li>

            <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>

                    <div class="menu-title-flex">
                        <ion-icon name="arrow-forward-circle-outline" width="20" height="20" class="menu-title-img">
                        </ion-icon>

                        <p class="menu-title">City</p>
                    </div>

                    <div>
                        <ion-icon name="add-outline" class="add-icon"></ion-icon>
                        <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                    </div>

                </button>

                <ul class="sidebar-submenu-category-list" data-accordion>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="car-name">Marrakesh</p>
                            <data value="300" class="stock" title="Available Stock">300</data>
                        </a>
                    </li>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="car-name">Rabat</p>
                            <data value="60" class="stock" title="Available Stock">60</data>
                        </a>
                    </li>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="car-name">Fes</p>
                            <data value="50" class="stock" title="Available Stock">50</data>
                        </a>
                    </li>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="car-name">Meknes</p>
                            <data value="87" class="stock" title="Available Stock">87</data>
                        </a>
                    </li>

                </ul>

            </li>

            <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>

                    <div class="menu-title-flex">
                        <ion-icon name="arrow-forward-circle-outline" width="20" height="20" class="menu-title-img">
                        </ion-icon>
                        <p class="menu-title">Color</p>
                    </div>

                    <div>
                        <ion-icon name="add-outline" class="add-icon"></ion-icon>
                        <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                    </div>

                </button>

                <ul class="sidebar-submenu-category-list" data-accordion>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="car-name">Red</p>
                            <data value="300" class="stock" title="Available Stock">300</data>
                        </a>
                    </li>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="car-name">Black</p>
                            <data value="60" class="stock" title="Available Stock">60</data>
                        </a>
                    </li>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="car-name">White</p>
                            <data value="50" class="stock" title="Available Stock">50</data>
                        </a>
                    </li>

                </ul>

            </li>

            <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>

                    <div class="menu-title-flex">
                        <ion-icon name="arrow-forward-circle-outline" width="20" height="20" class="menu-title-img">
                        </ion-icon>
                        <p class="menu-title">Price</p>
                    </div>

                    <div>
                        <ion-icon name="add-outline" class="add-icon"></ion-icon>
                        <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                    </div>

                </button>

                <ul class="sidebar-submenu-category-list" data-accordion>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="car-name">Car</p>
                            <data value="300" class="stock" title="Available Stock">300</data>
                        </a>
                    </li>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="car-name">Car</p>
                            <data value="60" class="stock" title="Available Stock">60</data>
                        </a>
                    </li>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="car-name">Car</p>
                            <data value="50" class="stock" title="Available Stock">50</data>
                        </a>
                    </li>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="car-name">Car</p>
                            <data value="87" class="stock" title="Available Stock">87</data>
                        </a>
                    </li>

                </ul>

            </li>

        </ul>

    </div>

    

</div>