<!--
          - SIDEBAR
        -->

<div class="sidebar  has-scrollbar" data-mobile-menu>

    <div class="sidebar-category">

        <div class="sidebar-top">
            <h2 class="sidebar-title">Category</h2>

            <button class="sidebar-close-btn" data-mobile-menu-close-btn>
                <ion-icon name="close-outline"></ion-icon>
            </button>
        </div>

        <ul class="sidebar-menu-category-list">

            <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>

                    <div class="menu-title-flex">
                        <img src="images/icons/books.png" alt="book" width="20" height="20" class="menu-title-img">

                        <p class="menu-title">History</p>
                    </div>

                    <div>
                        <ion-icon name="add-outline" class="add-icon"></ion-icon>
                        <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                    </div>

                </button>

                <ul class="sidebar-submenu-category-list" data-accordion>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="book-name">Roman</p>
                            <data value="300" class="stock" title="Available Stock">300</data>
                        </a>
                    </li>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="book-name">Greek</p>
                            <data value="60" class="stock" title="Available Stock">60</data>
                        </a>
                    </li>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="book-name">World</p>
                            <data value="50" class="stock" title="Available Stock">50</data>
                        </a>
                    </li>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="book-name">Europe</p>
                            <data value="87" class="stock" title="Available Stock">87</data>
                        </a>
                    </li>

                </ul>

            </li>

            <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>

                    <div class="menu-title-flex">
                        <img src="images/icons/books.png" alt="book" class="menu-title-img" width="20" height="20">

                        <p class="menu-title">Art</p>
                    </div>

                    <div>
                        <ion-icon name="add-outline" class="add-icon"></ion-icon>
                        <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                    </div>

                </button>

                <ul class="sidebar-submenu-category-list" data-accordion>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="book-name">Roman</p>
                            <data value="300" class="stock" title="Available Stock">300</data>
                        </a>
                    </li>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="book-name">Greek</p>
                            <data value="60" class="stock" title="Available Stock">60</data>
                        </a>
                    </li>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="book-name">World</p>
                            <data value="50" class="stock" title="Available Stock">50</data>
                        </a>
                    </li>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="book-name">Europe</p>
                            <data value="87" class="stock" title="Available Stock">87</data>
                        </a>
                    </li>

                </ul>

            </li>

            <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>

                    <div class="menu-title-flex">
                        <img src="images/icons/books.png" alt="book" class="menu-title-img" width="20" height="20">

                        <p class="menu-title">Philosophy</p>
                    </div>

                    <div>
                        <ion-icon name="add-outline" class="add-icon"></ion-icon>
                        <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                    </div>

                </button>

                <ul class="sidebar-submenu-category-list" data-accordion>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="book-name">Roman</p>
                            <data value="300" class="stock" title="Available Stock">300</data>
                        </a>
                    </li>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="book-name">Greek</p>
                            <data value="60" class="stock" title="Available Stock">60</data>
                        </a>
                    </li>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="book-name">World</p>
                            <data value="50" class="stock" title="Available Stock">50</data>
                        </a>
                    </li>

                </ul>

            </li>

            <li class="sidebar-menu-category">

                <button class="sidebar-accordion-menu" data-accordion-btn>

                    <div class="menu-title-flex">
                        <img src="images/icons/books.png" alt="book" class="menu-title-img" width="20" height="20">

                        <p class="menu-title">Parenting</p>
                    </div>

                    <div>
                        <ion-icon name="add-outline" class="add-icon"></ion-icon>
                        <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                    </div>

                </button>

                <ul class="sidebar-submenu-category-list" data-accordion>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="book-name">Roman</p>
                            <data value="300" class="stock" title="Available Stock">300</data>
                        </a>
                    </li>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="book-name">Greek</p>
                            <data value="60" class="stock" title="Available Stock">60</data>
                        </a>
                    </li>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="book-name">World</p>
                            <data value="50" class="stock" title="Available Stock">50</data>
                        </a>
                    </li>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="book-name">Europe</p>
                            <data value="87" class="stock" title="Available Stock">87</data>
                        </a>
                    </li>

                </ul>

            </li>

        </ul>

    </div>

    <div class="book-showcase">

        <h3 class="showcase-heading">best sellers</h3>

        <div class="showcase-wrapper">

            <div class="showcase-container">

                <div class="showcase">

                    <a href="#" class="showcase-img-box">
                        <img src="images/books/1.jpg" alt="book" width="75" height="75" class="showcase-img">
                    </a>

                    <div class="showcase-content">

                        <a href="#">
                            <h4 class="showcase-title">The best book ever</h4>
                        </a>

                        <div class="showcase-rating">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                        </div>

                        <div class="price-box">
                            <del>$5.00</del>
                            <p class="price">$4.00</p>
                        </div>

                    </div>

                </div>

                <div class="showcase">

                    <a href="#" class="showcase-img-box">
                        <img src="images/books/2.jpg" alt="book" class="showcase-img" width="75" height="75">
                    </a>

                    <div class="showcase-content">

                        <a href="#">
                            <h4 class="showcase-title">The best book ever</h4>
                        </a>
                        <div class="showcase-rating">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star-half-outline"></ion-icon>
                        </div>

                        <div class="price-box">
                            <del>$17.00</del>
                            <p class="price">$7.00</p>
                        </div>

                    </div>

                </div>

                <div class="showcase">

                    <a href="#" class="showcase-img-box">
                        <img src="images/books/3.jpg" alt="book" class="showcase-img" width="75" height="75">
                    </a>

                    <div class="showcase-content">

                        <a href="#">
                            <h4 class="showcase-title">The best book ever</h4>
                        </a>
                        <div class="showcase-rating">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star-half-outline"></ion-icon>
                        </div>

                        <div class="price-box">
                            <del>$5.00</del>
                            <p class="price">$3.00</p>
                        </div>

                    </div>

                </div>

                <div class="showcase">

                    <a href="#" class="showcase-img-box">
                        <img src="images/books/4.jpg" alt="book" class="showcase-img" width="75" height="75">
                    </a>

                    <div class="showcase-content">

                        <a href="#">
                            <h4 class="showcase-title">The best book ever</h4>
                        </a>
                        <div class="showcase-rating">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                        </div>

                        <div class="price-box">
                            <del>$15.00</del>
                            <p class="price">$12.00</p>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>