<button type="button" class="login-with-btn login-with-google-btn">
    Sign in with Google
</button>
<button type="button" class="login-with-btn login-with-facebook-btn">
    Sign in with Facebook
</button>
<button type="button" class="login-with-btn login-with-twitter-btn">
    Sign in with Twitter
</button>