<!--
    - FOOTER
  -->

<footer>

  <div class="footer-nav">

    <div class="container">

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Popular Categories</h2>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Car</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Car</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Car</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Car</a>
        </li>

      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Website</h2>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Garage</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">New arrivals</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Best sales</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Contact us</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Sitemap</a>
        </li>

      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Social media</h2>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Garage</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">New arrivals</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Best sales</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Contact us</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Sitemap</a>
        </li>

      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Services</h2>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Garage</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">New arrivals</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Best sales</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Contact us</a>
        </li>

        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Sitemap</a>
        </li>

      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Contact</h2>
        </li>

        <li class="footer-nav-item flex">
          <div class="icon-box">
            <ion-icon name="location-outline"></ion-icon>
          </div>

          <address class="content">
            12, 123 st, 213 bd, 212sa.
          </address>
        </li>

        <li class="footer-nav-item flex">
          <div class="icon-box">
            <ion-icon name="call-outline"></ion-icon>
          </div>

          <a href="tel:+607936-8058" class="footer-nav-link">(000) 000-0000</a>
        </li>

        <li class="footer-nav-item flex">
          <div class="icon-box">
            <ion-icon name="mail-outline"></ion-icon>
          </div>

          <a href="mailto:example@gmail.com" class="footer-nav-link">Krilauto@email.com</a>
        </li>

      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Follow Us</h2>
        </li>

        <li>
          <ul class="social-link">

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

          </ul>
        </li>

      </ul>

    </div>

  </div>

  <div class="footer-bottom">

    <div class="container">

      <img src="images/payment.png" alt="payment method" class="payment-img">

      <p class="copyright">
        Copyright &copy; <a href="#">Krilauto</a> all rights reserved.
      </p>

    </div>

  </div>

</footer>






<!--
    - custom js link
  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="js/script.js"></script>
<script src="js/checkout-steps.js"></script>

<!--
    - ionicon link
  -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>