<%- include('./partials/head.ejs') %>

    <!-- multistep form -->
    <form id="msform">
        <table style="margin: 0 auto; scale: 0.90;">
            <thead>
                <tr>
                    <th>Cover</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Rating</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="#" class="showcase-img-box">
                            <img src="images/books/2.jpg" alt="book" class="showcase-img" width="70">
                        </a>
                    </td>
                    <td><a href="#">The best you will here about ever</a></td>
                    <td>150$</td>
                    <td>
                        <div class="showcase-rating">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                        </div>
                    </td>
                    <td>
                        <button class="delete-btn" style="--fs-11: 0.875rem;">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#" class="showcase-img-box">
                            <img src="images/books/2.jpg" alt="book" class="showcase-img" width="70">
                        </a>
                    </td>
                    <td><a href="#">Alfreds Futterkiste</a></td>
                    <td>150$</td>
                    <td>
                        <div class="showcase-rating">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                        </div>
                    </td>
                    <td>
                        <button class="delete-btn" style="--fs-11: 0.875rem;">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#" class="showcase-img-box">
                            <img src="images/books/2.jpg" alt="book" class="showcase-img" width="70">
                        </a>
                    </td>
                    <td><a href="#">Alfreds Futterkiste</a></td>
                    <td>150$</td>
                    <td>
                        <div class="showcase-rating">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                        </div>
                    </td>
                    <td>
                        <button class="delete-btn" style="--fs-11: 0.875rem;">Delete</button>
                    </td>
                </tr>

            </tbody>
        </table>

    </form>
    <%- include('./partials/tail.ejs') %>