<%- include('./partials/head.ejs') %>



  <!--
    - MAIN
  -->

  <main>


    <!--
      - car
    -->

    <div class="car-container">

      <div class="container">


        <!--
          - SIDEBAR
        -->

        <%- include('partials/mobile-sidebar.ejs') %>



        <div class="car-box">


          <!--
            - car FEATURED
          -->

          <div class="car-featured">
            <div class="showcase-container">

              <div class="showcase">

                <div class="showcase-banner">
                  <img src="/images/cars/car.jpeg" alt="car" class="showcase-img">
                </div>

                <div class="showcase-content">

                  <div class="showcase-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                  </div>

                  <h3 class="showcase-title">
                    <a href="#" class="showcase-title">The best car ever</a>
                  </h3>

                  <p class="showcase-desc">
                    Lorem ipsum dolor sit amet consectetur Lorem ipsum
                    dolor dolor sit amet consectetur Lorem ipsum dolor
                  </p>

                  <div class="price-box">
                    <p class="price">$1990.00</p>
                    <del>$2000.00</del>
                  </div>

                  <button class="add-cart-btn" style="display: inline-block;">
                    <ion-icon name="car-sport-outline" style="color: var(--white); font-size: 2em;"></ion-icon>
                  </button>

                </div>

              </div>

            </div>

          </div>




        </div>
      </div>
    </div>






  <%- include('./partials/tail.ejs') %>