<%- include('./partials/head.ejs') %>



  <!--
    - MAIN
  -->

  <main>


    <!--
      - car
    -->

    <div class="car-container">

      <div class="container">


        <!--
          - SIDEBAR
        -->

        <%- include('partials/mobile-sidebar.ejs') %>



          <div class="car-box">

            <%- include('partials/blogs.ejs') %>

          </div>
      </div>
    </div>






    <%- include('./partials/tail.ejs') %>