<li class="menu-category">
    <a href="#" class="menu-title">Categories</a>

    <div class="dropdown-panel">

      <ul class="dropdown-panel-list">

        <li class="menu-title">
          <a href="/car">car</a>
        </li>

        <li class="panel-list-item">
          <a href="/car">car</a>
        </li>

        <li class="panel-list-item">
          <a href="/car">car</a>
        </li>

        <li class="panel-list-item">
          <a href="/car">car</a>
        </li>

        <li class="panel-list-item">
          <a href="/car">car</a>
        </li>

        <li class="panel-list-item">
          <a href="/car">car</a>
        </li>

      </ul>

      <ul class="dropdown-panel-list">

        <li class="menu-title">
          <a href="/car">Car</a>
        </li>

        <li class="panel-list-item">
          <a href="/car">car</a>
        </li>

        <li class="panel-list-item">
          <a href="/car">car</a>
        </li>

        <li class="panel-list-item">
          <a href="/car">car</a>
        </li>

        <li class="panel-list-item">
          <a href="/car">car</a>
        </li>

      </ul>

      <ul class="dropdown-panel-list">

        <li class="menu-title">
          <a href="/car">Philosophy</a>
        </li>

        <li class="panel-list-item">
          <a href="/car">car</a>
        </li>

        <li class="panel-list-item">
          <a href="/car">car</a>
        </li>

        <li class="panel-list-item">
          <a href="/car">car</a>
        </li>

        <li class="panel-list-item">
          <a href="/car">car</a>
        </li>

        <li class="panel-list-item">
          <a href="/car">car</a>
        </li>

      </ul>

      <ul class="dropdown-panel-list">

        <li class="menu-title">
          <a href="/car">Parenting</a>
        </li>

        <li class="panel-list-item">
          <a href="/car">car</a>
        </li>

        <li class="panel-list-item">
          <a href="/car">car</a>
        </li>

        <li class="panel-list-item">
          <a href="/car">car</a>
        </li>

        <li class="panel-list-item">
          <a href="/car">car</a>
        </li>

      </ul>

    </div>
  </li>